{
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "tabWidth": 4,
    "singleQuote": false,
    "useTabs": false,
    "semi": false,
    "quoteProps": "consistent",
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "printWidth": 120,
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^[./].*$"
    ],
    "importOrderSortSpecifiers": true,
    "importOrderGroupNamespaceSpecifiers": true
}
