name: Release

on:
    push:
        tags:
            - "v*"

jobs:
    publish:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup Node.js
              uses: actions/setup-node@v3

            - name: Install dependencies
              run: npm install

            - name: Build project
              run: npm run build

            - name: Publish to npm
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
              run: npm publish

            - name: Create Release Notes
              run: |
                  chmod +x scripts/*
                  ./scripts/changelog_gen.sh ${{ github.ref_name }} > RELEASE.md

            - name: Create GitHub Release
              uses: actions/create-release@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  tag_name: ${{ github.ref_name }}
                  release_name: Release ${{ github.ref_name }}
                  body_path: RELEASE.md
                  draft: false
                  prerelease: false
